.red {
    width: 100px;
    height: 100px;
    background-color: red;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.black {
    width: 100px;
    height: 100px;
    background-color: black;
}

.float {
    float: left;
    width: 200px;
    border: pink solid 1px;
    width: 300px;
}